{% extends "base_currency.html" %}

{% block content %}
    <form action="{% url 'currency:select' %}" method="post">
    {% csrf_token %}
    {% for choice in choice_list %}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}" />
        <label for="choice{{forloop.counter}}">
        {{choice.choice_text}}
        </label><br />
    {% endfor %}
    <input type="submit" value="Select" />
    </form>
    사용금액: <input type="text" id="input" />
{% endblock content %}